.container{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    text-align: center;
    margin:150px;
    flex-direction: column;
    background-color: wheat;
}
.con1{
    width: 300px;
    height:200px;
}
img{
    width: 300px;
    height: 190px;
    padding-top: 2px;
    /* border: 1px solid black; */
}
.con2{
    height: 200px;
    /* border: 1px solid black; */
}
.lab{
    width: 50px;
    height: 20px;
    border: 1px solid darkgray;
    background-color: grey ;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
}
.head{
    font-size: 20px;
    font-weight: bold;
   margin: 10px 210px 0px 5px;
}
.para{
    margin: 10px 15px 0px 1px;
}
.button{
    width:290px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    background-color: cornflowerblue;
    border-radius: 10px;
}
.box{
    width: 560px;
    height: 210px;
    /* border: 1px solid black; */
    margin: 100px;
    display: flex;

}
.box1{
    height:200px;
    width:200px;
    border: 1px solid hidden;
    margin:10px;
    padding-left:10px;
    background-color: beige;
}