.fcolor{
    color:rgb(152, 67, 24);
}
.class1{
    color: green;
}
table{
    border-collapse: collapse;
}
.cap1{
    border: 1px solid black;
}
.highlight1{
    background-color:black;
    color: aliceblue;
}
.highlight2{
    background-color:black;
    color: aliceblue;
}
.highlight3{
    background-color:black;
    color: aliceblue;
}

.head{
    color: blue;
}
.para1{
    color: blue;
}
.tech-list{
    color: blue;
}