/* .container{
    max-width: 1024px;
    padding: 10px;
    background-color: aquamarine;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 5px;
}
.item{
    box-shadow: 2px 2px 5px;
    border-radius: 3px;
}
.item4{
    background-color: ;
} */

.flex-container{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: flex;
}
.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
/* .box1{
    order: 4;
}
.box2{
    order: 5;
}
.box3{
    order: 1;
}
.box4{
    order: 2;
}
.box5{
    order: 3;
} */
.box3{
    /* flex-shrink: 0; */
    /* flex-grow: 1; */
    /* flex-basis: 50px; */
    flex: 0 0 50px;
}
.grid-area-container{
    width: 600px;
    height: 400px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);

    grid-template-areas: 
    "header header header"
    "sidebar content1 content2"
    "sidebar content3 content3"
    "footer footer .";
}
.grid-box1 {
    background-color: aqua;
    grid-area: header;
}

.grid-box2 {
    grid-area: sidebar;
    background-color: red;
}

.grid-box3 {
    grid-area: content1;
    background-color: gray;
}

.grid-box4 {
    grid-area: content2;
    background-color: green;
}

.grid-box5 {
    grid-area: content3;
    background-color: brown;
}

.grid-box6 {
    grid-area: footer;
    background-color: yellow;
}
