*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 10px solid hotpink;
    width: 600px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(9,1fr);
    gap: 12px;
    background-color: hotpink;
    margin: 50px;
}
.con{
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
.box1{
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url(https://images.pexels.com/photos/9808100/pexels-photo-9808100.jpeg?cs=srgb&dl=pexels-james-lequigan-9808100.jpg&fm=jpg);
}
.box2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-image: url(https://static.vecteezy.com/system/resources/previews/031/345/616/non_2x/potted-succulent-plant-gasteria-or-small-cactus-with-copy-space-home-gardening-and-minimalist-plant-concept-by-ai-generated-free-photo.jpg);
}
.box3{
    grid-column: 5/7;
    grid-row: 1/3;
    background-image: url(https://media.istockphoto.com/id/501231426/photo/small-plant.jpg?s=170667a&w=0&k=20&c=v5smGaMoNj-WUe2a6O0QVeVH4efLdSia1Y3H0nL6fA4=);

}
.box4{
    grid-column: 1/3;
    grid-row: 3/4;
    background-image: url(https://www.epicgardening.com/wp-content/uploads/2023/09/Tiny-houseplant-growing-in-a-small-container-on-a-table.jpg);
}
.box5{
    grid-column: 3/5;
    grid-row: 2/4;
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.ahFZGo-Ua6Ywkqc9YdLxPQAAAA?rs=1&pid=ImgDetMain&o=7&rm=3);
}
.box6{
    grid-column: 5/7;
    grid-row: 3/4;
    background-image: url(https://img.freepik.com/premium-photo/new-small-plants-growing_660534-794.jpg);
}
.box7{
    grid-column: 1/3;
    grid-row: 4/7;
    background-image: url(https://img.freepik.com/premium-photo/small-plants-hd-wallpaper-photographic-image_993236-5118.jpg);
}
.box8{
    grid-column: 3/5;
    grid-row: 4/5;
    background-image: url(https://th.bing.com/th/id/R.58581fa594aeb3d14d50c51f6b5acc1c?rik=rG%2fRM%2fpR8OKI8w&riu=http%3a%2f%2fthumbs.dreamstime.com%2fz%2fsmall-plant-19474394.jpg&ehk=q3P3yZoZF4cpSQxAt1HszZFBFCP04Ew1cOiQ8LTKC%2b4%3d&risl=&pid=ImgRaw&r=0);
}
.box9{
    grid-column: 5/7;
    grid-row: 4/7;
    background-image: url(https://thumbs.dreamstime.com/b/small-plant-5679358.jpg);
}
.box10{
    grid-column: 1/3;
    grid-row: 7/8;
    background-image: url(https://i.pinimg.com/originals/52/3e/36/523e3654190cc3b4488dafdb0e35b2a5.jpg);
}
.box11{
    grid-column: 3/5;
    grid-row: 5/7;
    background-image: url(https://images.ctfassets.net/i3tkg7dt3kro/YNPa8Xm3XemDarAG3f9qP/0714b83fe387b6e9f55ef29d6e441a71/small-indoor-plants-hero.jpg);
}
.box12{
    grid-column: 5/7;
    grid-row: 7/10;
    background-image: url(https://st2.depositphotos.com/2691399/6498/i/950/depositphotos_64982887-stock-photo-small-plant-in-pot.jpg);
}
.box13{
    grid-column: 1/3;
    grid-row: 8/10;
    background-image: url(https://images.pexels.com/photos/17728137/pexels-photo-17728137.jpeg?cs=srgb&dl=pexels-mehdi-hraad-661973913-17728137.jpg&fm=jpg);
}
.box14{
    grid-column: 3/5;
    grid-row: 7/10;
    background-image: url(https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsb2ZmaWNlMThfM19ncm93aW5nX3NtYWxsX3BsYW50c19pbl9vcmRlcl9pbl9zb2lsXzljNDVlNDEwLWQwMWYtNDA3ZC05OTNlLTJmYTY4NjdmNjU4OF8xLmpwZw.jpg);
}




.grid{
    margin: 50px;
    border: 1px solid black;
    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);

    grid-template-areas: 
    "header1 header2 header3 header4"
    "slidebar content1 content1 slidebar2"
    "slidebar header5 header6 slidebar2";
}
.box{
    text-align: left;
    color: white;
    padding: 50px;
}
.item1{
    background-color:rgba(0, 0, 0, 0.704) ;
    grid-area: header1;
}
.item2{
    background-color: aqua;
    grid-area: header2;
}
.item3{
    background-color: rgb(0, 100, 0);
    grid-area: header3;
}
.item4{
    background-color: rgba(0, 0, 0, 0.704);
    grid-area: header4;
}
.item5{
    background-color: #892be2cb ;
    grid-area: slidebar;
}
.item6{
    background-color: rgba(0, 0, 0, 0.704);
    grid-area: content1;
}
.item7{
    background-color: #892be2cb ;
    grid-area: slidebar2;
}
.item8{
    background-color:aqua;
    grid-area: header5;
}
.item9{
    grid-area: header6;
    background-color: darkgreen;
}