*{
    margin: 0;
    padding: 0;
}
.container{
    width: 500px;
    height: 600px;
    border: 1px solid black;
    margin: 100px;
}
.login-pg{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    margin: 100px 100px; 
    text-align: center;  
    border-radius: 10px;
    background-color: white;
}
.heading{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    margin-top:70px;
}
.input{
    width: 300px;
    height: 200px;
    border: 1px solid black; 
    margin-top:10px;
}
.mail{
    width: 250px;
    height: 30px;
    margin-top: 50px
}
.pass{
    width: 250px;
    height: 30px;
    margin-top: 10px
}
.btn{
    width: 250px;
    height: 30px;
    margin-top: 15px;
    font-size:20px;
    font-weight: 700;
}
/* .gallary{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    /* flex-wrap: wrap; */
    /* grid-template-columns: repeat(3, fr);
    grid-template-rows: repeat(4, 1fr); */
 

.gallary-grid{
    width: 600px;
    height: 500px;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows:100px ;
}
.grid{
    border: 1px solid black;    
}
.item1{
    background-image: url(https://images.wallpapersden.com/image/download/starry-landscape-4k-cool-blue-moon_bW5tbG6UmZqaraWkpJRobWllrWdma2U.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.item2{
    background-image: url(https://wallpaperaccess.com/full/81235.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item3{
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.ZR6Dp1J9BgS8-mNRUjwbBwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-position: center;
    background-size: cover;
}
    
    

