.container{
    width: 300px;
    height: 400px;
    border: 40px solid black;
    margin: 500px 200px;
    background-color: aqua;
} 
.box{
    width: 200px;
    height: 300px;
    border: 30px solid antiquewhite;
    margin: 20px 20px;
   }
img{
    width:200px;
    height:300px;
}

.class{
    width:180px;
    height:200px;
    border:1px solid black;
    background-color:cornsilk;
    font-weight:bold;
}
.class2{
    padding:5px 5px;
}

.nm1{
    margin:20px;
}
