.container{
    width: 800px;
    height: 500px;
    border: 1px solid black;
}
.nav-box{
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    box-shadow: 2px 5px;
}
.logo{
    /* border: 1px solid black; */
    width: 110px;
    height: 30px;
    display: flex;
    align-items: center;
}
.logo img{
    margin-left: 10px;
    
    width: 30px;
    height: 30px;
}
.logo h4{
    color: rgb(20, 20, 167);
    font-size: 20px;
}
.logo h4::first-letter{
    color: rgb(255, 119, 0);
}
.nav-box ul{
    display: flex;
    gap: 10px;
    list-style: none;
}
.nav-btn button{
    margin-left: 40px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
}
.content{
    width: 800px;
    height:400px;
    /* border: 1px solid black; */
    display: flex;
}
.content1{
    /* border: 1px solid black; */
    width: 400px;
}
.content1 h1{
    margin-left: 20px;
    padding-top: 30px;
}
.content1 p{
    margin-left: 20px;
}
.content1 button{
    /* margin-left: 20px; */
    /* margin-top: 70px; */
    padding: 7px;
    background-color: blue;
    color: white;
    border: none;
    width: 150px;
    margin-left: 20px;
}
.content2{
    /* border: 1px solid black; */
    width: 400px;
}
.content2 img{
    width: 400px;
    height: 400px;
}
.content1-1{
    /* border: 1px solid black; */
    display: flex;
    margin-top: 70px;
    align-items: center;
    gap: 30px;

}
.cont-logo img{
    /* border: 1px solid black; */
    text-align: end;
    width: 50px;
    height: 40px;
    background-color: yellow;

}
.cont-logo{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    height: 50px;
    background-color: yellow;
    position: absolute;
    margin-left: 250px;
    box-shadow: 6px 6px gray;
}
.cont-logo p{
    padding: 10px;
    
}
    
