*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-items: center;
}
.container{
    margin-top: 20px;
    border: 1px solid black;
    width: 1000px;
}
.nav-bar{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding: 5px;
    box-shadow:2px 3px;
}
.logo{
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
}
.logo h2{
    margin-left: 2px;
}
.nav-bar ul{
    display: flex;
    gap: 30px;
    list-style: none;
    justify-items: end;
    margin-left: 130px;
}
.lang{
    border: 1px solid blue;
    padding: 5px;
    border-radius: 20px;
    margin-left: 30px;
}
.download{
    border: 1px solid blue;
    padding: 5px;
    border-radius: 20px;
    margin-left: 20px;
}
.content{
    margin-top: 50px;
    display: flex;
}
.sec-a, .sec-b{
    /* border: 1px solid black; */
    width:500px;
}
.sec-a{
    padding-left: 20px;
}
.sec-a h1{
    font-size:40px;
}
.sec-a p{
    margin-top: 20px;
    font-size: 20px;
}
.sec-a .small-box{
    display: flex;
    justify-content: space-evenly;
}
.box1, .box2{
    border: 1px solid blue;
    border-radius: 40px;
    display: flex;
    align-items: center;
}
.box1, .box2 .con{
    border: 1px solid black;
    height: 40px;
}
.small-box p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.small-box h4{
    padding-left: 10px;
    padding-right: 10px;
}
.sec-b{
    text-align: center;
}