.container{
    max-width: 1000px;
    margin: auto;
    background: linear-gradient(90deg,red,blue,green);
    padding: 20px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}
.content{
    width: 400px;
}
@media screen and (max-width:400px){
    .container{
        width: 100px;
        flex-direction: column;
    }
    img{
        width: 100px;
    }
    .content{
        width: 100px;
    }
}