*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-pg{
    border: 1px solid black;
    width: 400px;
    margin: 50px;
    background: linear-gradient(60deg,rgb(255, 0, 60),blue);
}
.backgrd{
    background-color: white;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    text-align: center;
    margin: 50px;
    border-radius: 10px;
}
.backgrd h2{
    margin-top: 50px;
}
.int1{
    margin-top: 60px;
}
.int2{
    margin-top: 3px;
}
input{
    width: 250px;
    padding: 3px;
}
button{
    margin-top: 40px;
    width: 250px;
    padding: 5px;
    background: linear-gradient(60deg,rgba(255, 0, 0, 0.619),rgba(0, 0, 255, 0.838));
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 3px;
}
p{
    margin-top: 40px;
}

.grid-container {
    max-width: 800px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 170px;
    gap: 10px;
}

.item {
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}
.item1{
    background-image: url(https://images.pexels.com/photos/459203/pexels-photo-459203.jpeg?cs=srgb);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item2{
   background-image: url(https://4kwallpapers.com/images/walls/thumbs_2t/8659.jpg); 
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.item3{
   background-image: url(https://tse2.mm.bing.net/th/id/OIP.AfjNocamFGuItG4EV_QejwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat; 
}

.item4 {
    grid-row: 2/3;
    /* background-color: aqua; */
    background-image: url(https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?cs=srgb);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item5 {
    grid-row: 3/4;
    /* background-color: blue; */
    background-image: url(https://images.hdqwalls.com/wallpapers/best-nature-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.item6 {
    grid-row: 4/5;
    /* background-color: brown; */
    background-image: url(https://www.pixelstalk.net/wp-content/uploads/2016/07/Amazing-beach-sight-high-resolution-photos-download-free.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.item7{
    grid-column: 1/3;
    grid-row: 2/5;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 7px;
}

.box{
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}
.box7-1{
    background-image: url(https://tailandfur.com/wp-content/uploads/2014/09/beautiful-and-cute-animals-wallpaper-39.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-2{
    background-image: url(https://wallpaper.dog/large/1001240.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-3{
    background-image: url(https://www.pixelstalk.net/wp-content/uploads/images6/Animal-Wallpaper-HD-Free-download.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-4{
    background-image: url(https://tse1.mm.bing.net/th/id/OIP.nH1bruPlX8QJQgjsFk7ImwHaEK?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-5{
    background-image: url(https://www.pixelstalk.net/wp-content/uploads/images6/Animal-Desktop-Wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
}


.box7-6{
    grid-column: 2/4;
    grid-row: 2/4;
    background-image: url(https://images.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg?cs=srgb);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-7{
    grid-column: 4/5;
    background-image: url(https://wallpaperaccess.com/full/1164218.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-8{
    background-image: url(https://tailandfur.com/wp-content/uploads/2014/09/beautiful-and-cute-animals-wallpaper-59.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-9{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.ROAxZWn7ny3a5fAbZ1CTVwHaEo?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-10{
    background-image: url(https://tailandfur.com/wp-content/uploads/2014/09/beautiful-and-cute-animals-wallpaper-51.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-11{
    background-image: url(https://wallpaperaccess.com/full/807798.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-12{
    background-image: url(https://wallpaperaccess.com/full/807715.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-13{
    background-image: url(https://th.bing.com/th/id/R.ed7111e298fcdeedf5002cb9761c4684?rik=QkxMm%2fy%2f8LDdIA&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fd%2fa%2f6%2f149844.jpg&ehk=OM37JDxorjDrM05S5r6jRAevgLzqy4EbwM4xUukKGd8%3d&risl=&pid=ImgRaw&r=0);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-14{
    grid-column: 1/3;
    grid-row: 5/7;
    background-image: url(https://wallpaperaccess.com/full/654151.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-15{
    background-image: url(https://th.bing.com/th/id/R.8185c102ed1787c13be8d1d9bc9ba633?rik=jEo85gS4916U4w&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f3%2f6%2fa%2f482201.jpg&ehk=YKeEV8Zc7FDsm6y2s%2fz62o8LwOKpF6uAt3n%2bywy6Xbs%3d&risl=&pid=ImgRaw&r=0);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-16{
    background-image: url(https://wallpapercave.com/wp/wp7259757.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-17{
    background-image: url(https://wallpaperbat.com/img/51145880-black-panther-animal-stare-look-green.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.box7-18{
    background-image: url(https://wallpaperbat.com/img/771496-free-download-nature-animal-hd-wallpaper-1920x1080-other-wallpaper-1920x1080-1920x1080-for-your-desktop-mobile-tablet-explore-hd-animal-wallpaper-1920x1080-hd-animal-wallpaper-for-desktop-animals-wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}